torch_spline_conv

torch==2.2.2
torch_cluster==1.6.3
torch_geometric==2.5.2
torch_scatter==2.1.2
torch_sparse==0.6.18
torch_spline_conv==1.2.2
torchaudio==2.2.2
torchvision==0.17.2

notebook
-e file:./GraKeL

-f https://data.pyg.org/whl/torch-2.2.0+cu121.html

